.sper{
    font-size: larger;
    text-decoration: none;
    color: orange;
    font-weight: bold;
}
.icons{
    height: 20px;
    width: 20px;
    
}
.detail2{
    font-size: small;
    color: white;
    text-decoration: none;
}
.detail3{
    font-size: small;
    color: white;
    text-decoration: none;
}
.detail4{
    font-size: small;
}
.mail{
    
    color: white;
    text-decoration: none;
    
}